[user]
	email = {{ .git.work.email }}
	name = {{ .git.work.name }}

[init]
	defaultBranch = main

[commit]
	gpgSign = true

[core]
	editor = "code --wait"

[rebase]
	updateRefs = true

[includeIf "gitdir:{{ .work.directory }}/"]
	path = {{ .work.directory }}/.gitconfig

[url "git@github.com:"]
    insteadOf = https://github.com/
