[user]
	email = {{ .git.work.email }}
	name = {{ .git.work.name }}

[init]
	defaultBranch = main

[commit]
	gpgSign = true

[core]
	editor = nvim

[rebase]
	updateRefs = true

[url "git@github.com:"]
    insteadOf = https://github.com/

{{ include "custom_gitconfig" }}
